@import 'styles/variables';

.container {
  margin: 0 auto 24px auto;
}

.stripe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  grid-gap: 16px;
  background-color: $black;

  div {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
  }
}
