@import 'styles/variables';

.container {
  margin: 0 auto 24px auto;
  position: relative;
}

.stripe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  grid-gap: 16px;
  background-color: $black;

  div {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
  }
}

.actions {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 4px;
  padding: 8px;

  .remove {
    cursor: pointer;
    color: $error;
  }

  .add {
    cursor: pointer;
    color: $success;
    margin-top: 8px;
  }
}

