@import 'styles/variables';

.base {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success {
  border: 1px solid $success;
  background-color: $success-bg;

  .x {
    color: $success;
    font-weight: bolder;
    cursor: pointer;
  }
}

.error {
  border: 1px solid $error;
  background-color: $error-bg;

  .x {
    color: $error;
    font-weight: bolder;
    cursor: pointer;
  }
}
