@import 'variables';

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid $border-color;
  border-radius: 10px;
  max-width: 300px;
  min-height: 250px;
}

.card h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
}

.card a {
  display: block;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
