$primary-color: #0070f3;
$border-color: #eaeaea;
$black: #333;
$grey: #aaa;
$white: #eee;
$error: #ff6347;
$error-bg: #ff634733;
$warning: #ffd700	;
$warning-bg: #ffd70033;
$success: #99cc99;
$success-bg: #99cc9933;
